.widget-tab {
    column-gap: 2rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile) {
        flex-direction: column;
        row-gap: 2rem;
    }

    .widget-tab-aside {
        .widget-tab-aside-head {
            .widget-tab-aside-head-title {
                font-size: $font-size-larger;
            }

            .widget-tab-aside-head-subtitle {
                font-size: $font-size-large;
            }
        }

        .widget-tab-aside-menu {
            margin-top: 2.5rem;

            @media (max-width: $mobile) {
                display: flex;
                column-gap: 2rem;
                justify-content: center;
                text-align: center;
            }

            .widget-tab-aside-menu-submenu {
                &:not(:first-child) {
                    margin-top: 2rem;

                    @media (max-width: $mobile) {
                        margin-top: 0;
                    }
                }

                .widget-tab-aside-menu-submenu-title {
                    font-size: $font-size-large;
                }

                .widget-tab-aside-menu-submenu-items {
                    .widget-tab-aside-menu-submenu-items-item {
                        color: $color-secondary;
                        margin-top: 1rem;

                        &:hover {
                            cursor: pointer;
                            filter: brightness(2);
                        }
                    }
                }
            }
        }
    }

    .widget-tab-window {
        background-color: $color-primary-lighter;
        padding: 2rem 1.5rem;
        width: 55%;

        @media (max-width: $mobile) {
            box-sizing: border-box;
            width: 100%;
        }

        .widget-tab-window-tab {
            display: none;

            &.current {
                display: block;
            }

            .widget-tab-window-tab-title {
                font-size: $font-size-larger;
                margin-bottom: 1.5rem;
            }

            .widget-tab-window-tab-content {
                padding-inline: 2rem;

                @media (max-width: $mobile) {
                    padding: 0;
                }
            }
        }
    }
}
