.widget-identity {
    column-gap: 2rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile) {
        flex-direction: column;
        row-gap: 2rem;
    }

    .widget-identity-info {
        .widget-identity-info-text {
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }
    }

    .widget-identity-media {
        height: 10rem;

        @media (max-width: $mobile) {
            height: auto;
            object-fit: contain;
            width: 100%;
        }
    }
}
